<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" [draggable]="false" (onHide)="reset()">
    <div class="container">
        <h1 *ngIf="!isEdit">Criar Permissão</h1>
        <h1 *ngIf="isEdit">Editar Permissão</h1>

        <form class="form" [formGroup]="form" (ngSubmit)="save(form)">
            
            <div class="name form-group">
                <Label>Nome</Label>
                <input type="text" pInputText formControlName="Name" [readOnly]="isEdit"/>
            </div>
        
            <div class="email form-group">
                <label>Descrição</label>
                <input type="text" pInputText formControlName="Description" />
            </div>
                        
            <div>
                <button class="btn"><span *ngIf="!isEdit">Criar</span> <span *ngIf="isEdit">Editar</span></button>
            </div>

        </form>

    </div>
</p-dialog>