.container {
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.InitialDate,
.finalDate {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

::ng-deep .p-calendar .p-inputtext {
  width: 250px !important;
  height: 35px !important;
  font-size: 16px;
  padding: 6px 8px;
}


.search {
    width: 100px;
    height: 50px;
    background-color: rgb(58, 16, 16);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.search:hover{
    cursor: pointer;
    scale: 1.1;
    transition: scale 0.2s ease-in-out;
}

.chart {
    width: 900px;
    margin-top: 30px;
}

.table {
    align-self: flex-start;
    margin-top: 30px;
}

.errorData {
    margin-top: 40px;
    width: 50%;
    text-align: center;
}

